@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4 mb-4">Bem-vindo!</h1>
    <p>Descrição do <a href="@Url.Action("Index", "Sobre")">Aplicativo de Avaliação Técnica</a>.</p>

    <div class="my-5">
        <h2 class="display-5 mb-4">Identifique-se, por favor!</h2>

        @using (Html.BeginForm("Login", "Auth", FormMethod.Post, new { @class = "form" }))
        {
            <div class="form-group">
                <input type="text" name="name" class="form-control form-control-lg mb-3" placeholder="Digite seu nome">
            </div>

            <button class="btn btn-lg btn-warning" type="submit">Salvar</button>
        }
    </div>
</div>
