 

#modal-Produto .iziModal-content header {
    background: #eee;
    margin-bottom: 10px;
    overflow: hidden;
    border-radius: 3px 3px 0 0;
    width: 100%;
}

    #modal-Produto .iziModal-content header a {
        display: block;
        float: left;
        width: 50%;
        padding: 0;
        text-align: center;
        background: #ddd;
        color: #999;
        height: 73px;
        vertical-align: middle;
        line-height: 73px;
    }

        #modal-Produto .iziModal-content header a.active {
            background: #fff;
            color: #777;
        }

#modal-Produto .iziModal-content section {
    padding: 30px;
}

    #modal-Produto .iziModal-content section input:not([type="checkbox"]), #modal-Produto .iziModal-content section button {
        width: 100%;
        border-radius: 3px;
        border: 1px solid #ddd;
        margin-bottom: 26px;
        padding: 15px;
        font-size: 14px;
    }

    #modal-Produto .iziModal-content section button {
        height: 46px;
        padding: 0;
    }

    #modal-Produto .iziModal-content section input:focus {
        border-color: #28CA97;
    }

    #modal-Produto .iziModal-content section label[for="check"] {
        margin-bottom: 26px;
        font-size: 14px;
        color: #999;
        display: block;
    }

    #modal-Produto .iziModal-content section footer {
        overflow: hidden;
    }

    #modal-Produto .iziModal-content section button {
        background: #28CA97;
        color: white;
        margin: 0;
        border: 0;
        cursor: pointer;
        width: 50%;
        float: left;
    }

        #modal-Produto .iziModal-content section button:hover {
            opacity: 0.8;
        }

        #modal-Produto .iziModal-content section button:nth-child(1) {
            border-radius: 3px 0 0 3px;
            background: #aaa;
        }

        #modal-Produto .iziModal-content section button:nth-child(2) {
            border-radius: 0 3px 3px 0;
        }

#modal-Produto .iziModal-content .icon-close {
    background: #FFF;
    margin-bottom: 10px;
    position: absolute;
    right: -8px;
    top: -8px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 0;
    color: #a9a9a9;
    cursor: pointer;
}

    #modal-Produto .iziModal-content .icon-close:hover, #modal-Produto .iziModal-content .icon-close:focus {
        color: black;
    } 